{
	"presets": [
		[
			"@babel/preset-env",
			{
				"useBuiltIns": "usage",
				"corejs": 3
				// debug: true, // outputs polyfills and browserlist
				// targets: 'defaults' // allows .browserslistrc to work
			}
		],
		"jest"
	],
	"plugins": [
		"@babel/plugin-proposal-optional-chaining",
		"babel-plugin-angularjs-annotate"
	]
}
