.catalog {
	.container {
		margin: 25px auto;
		position: relative;
	}

	section.page {
		margin: 0 auto;
		background: #fff;
		border: rgba(0, 0, 0, 0.11) 1px solid;
		box-shadow: 1px 3px 10px #888;
		width: 96%;
		max-width: 1500px;
	}

	.mobile-only {
		display: none; // shown on mobile
	}

	.top {
		background: #eee;
		color: #6c6c6c;
		padding: 10px 15px;
		display: flex;
		justify-content: space-between;

		h1 {
			margin: 0;
		}

		.search {
			position: relative;
			padding-bottom: 30px;
			width: 215px;

			.search-icon {
				position: absolute;
				margin: 5px 0px 0px 12px;
				height: 16px;
				width: 20px;
				background: url('../../../../img/magnifyingglass.png') 5px 50% no-repeat;
			}

			.search-close {
				position: absolute;
				right: 10px;
				margin-top: 3px;
				color: rgb(221, 221, 221);
				cursor: pointer;
			}

			.textbox {
				position: absolute;
				border: none;
				outline: none;
				width: 165px;
				left: 35px;
				background: transparent;
				padding-top: 4px;
				font-size: 16px;
				&::-ms-clear {
					display: none;
				}
			}

			.textbox-background {
				position: absolute;
				width: 205px;
				height: 25px;
				left: 9px;
				background: #fff;
				border: solid 1px #b0b0b0;
				border-radius: 12px;
			}
		}
	}

	#featured-first {
		text-align: center;

		button {
			border: none;
			background: #eee;
			color: black;
			border-radius: 3px;
			font-size: 16px;
			padding: 8px 20px;
			margin: 5px;
			outline: none;
			cursor: pointer;

			&:focus {
				text-decoration: underline;
			}
		}

		div {
			display: inline-block;
			width: 32px;
			height: 15px;
			border-radius: 10px;
			margin-left: 5px;
			background: #bbb;
			border: 1px solid #999;
			position: relative;
			top: 1px;

			&:after {
				content: "";
				position: absolute;
				height: 13px;
				width: 17px;
				background: white;
				top: 1px;
				left: 1px;
				border-radius: 10px;
				transition: all ease 0.3s;
			}

			&.on {
				background: #3498db;
				border-color: #555;

				&:after {
					left: 14px;
				}
			}
		}
	}

	#filters-container {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		padding: 10px 15px;
		position: relative;

		legend {
			text-align: left;
			color: #555;
			margin-bottom: 3px;
			margin-left: -2px;
		}

		.filter-labels-container {
			display: flex;

			button {
				padding: 10px 12px;
				font-size: 14px;
				float: left;
				background: white;
				position: relative;

				&:last-of-type {
					border-radius: 0 3px 3px 0;
				}

				&:first-of-type {
					border-radius: 3px 0 0 3px;
				}

				&:not(:first-child) {
					margin-left: -3px;
				}

				&:hover {
					cursor: pointer;
					text-decoration: underline;
				}

				&.feature-button {
					border: 1px solid #3498db;
					color: #3498db;

					&.selected {
						background: #3498db;
						color: white;

						+ .selected {
							border-left-color: white;
						}
					}
				}
			}
		}
	}

	#no-widgets-message {
		text-align: center;
		margin: 40px;
		font-style: italic;
	}

	#widgets-container {
		padding: 10px 0;
		position: relative;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(430px, 1fr));

		.widget {
			min-width: 400px;
			min-height: 135px;
			margin: 15px;
			border-radius: 5px;
			background-color: #ffffff;
			box-shadow: 1px 2px 4px #888;
			opacity: 1;
			position: relative;

			&:hover {
				box-shadow: 1px 2px 4px #888, 1px 3px 10px 2px #888;

				h1 {
					text-decoration: underline;
				}
			}

			&.ready {
				&.ng-hide-add,
				&.ng-hide-remove {
					transition-duration: 250ms;
					transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
				}
			}

			&.ng-hide {
				opacity: 0;
				transform: scale(0.1);
			}

			.infocard {
				color: black;
				opacity: 1;
				display: block;
				height: 100%;
				min-height: 135px;

				&:hover {
					text-decoration: none;
				}

				.header {
					float: left;
					margin-top: -4px;
					z-index: -10;
					width: 100%;
					box-sizing: border-box;
					padding-left: 130px;
					background: #eee;
					border-radius: 5px 5px 0 0;

					h1 {
						display: block;
						font-size: 18px;
						font-family: 'Lato-Black', arial, serif;
						margin: 10px 5px 2px;
						color: #333;

						&.featured {
							margin-right: 110px;
						}
					}

					div.featured-label {
						font-size: 14px;
						font-weight: bold;
						margin: 0;
						padding: 5px 10px;
						font-family: 'Lato-Black', arial, serif;
						background: #bfe5ff;
						border-radius: 0 5px 0 0;
						position: absolute;
						top: -3px;
						right: 0;

						svg {
							position: relative;
							top: 4px;
						}
					}
				}

				.img-holder {
					position: absolute;

					img {
						width: 115px;
						height: 115px;
						margin: 10px;
					}
				}

				.blurb-holder {
					margin-left: 130px;
					margin-right: 5px;
				}

				dl {
					width: 100%;
					line-height: 20px;
					overflow-y: auto;
					overflow-x: visible;
					display: block;
					margin-top: 5px;
					margin-bottom: 5px;

					&.features_list dd {
						border-radius: 3px;
						margin: 3px 6px;
						padding: 1px 6px;
						font-size: 10px;

						&.supported-feature {
							background: #bfe5ff;
							color: #444;
						}
					}
				}
			}
		}
	}

	#hidden-count {
		text-align: center;
		margin: 10px 0 15px;
		font-style: italic;
	}
}

@media (max-width: 960px) {
	.catalog {
		#filters-container {
			padding: 10px 5px;
			text-align: center;
			margin: auto 10px;

			legend {
				font-size: 14px;
			}
		}

		#widgets-container {
			grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));

			.widget {
				min-width: 200px;
				text-align: center;

				.infocard {
					.header {
						background: none;
						float: none;
						padding: 0;

						h1 {
							color: black;
							margin-top: 0;
							padding-top: 35px;

							&.featured {
								margin-right: 5px;
							}
						}

						div.featured-label {
							left: 0;
							padding: 2px 0 5px;
							border-radius: 5px 5px 0 0;
						}
					}

					.img-holder {
						position: static;
						display: inherit;
					}

					.blurb-holder {
						margin: 3px;

						dl.features_list {
							display: none;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 720px) {
	.catalog {
		.mobile-only {
			display: block;
		}

		.top {
			flex-direction: column;
			text-align: center;
			position: relative;
			padding: 10px 15px 5px;

			.search {
				margin: auto;
				padding-top: 10px;
			}
		}

		#active-filters {
			background: #eee;
			font-size: 13px;
			padding: 6px 10px 6px 70px;
			position: relative;
			min-height: 18px;
		}

		#add-filter {
			position: absolute;
			left: 10px;
			top: calc(50% - 10px);
			background: white;
			border-radius: 3px;
			border: 1px solid #777;
			padding: 2px 7px;

			&.open:before {
				background: transparent;
				bottom: 0;
				content: " ";
				cursor: default;
				display: block;
				left: 0;
				position: fixed;
				right: 0;
				top: 0;
				z-index: 2;
			}
		}

		#filter-dropdown {
			position: absolute;
			text-align: left;
			background: white;
			padding: 5px;
			border: 1px solid #999;
			border-radius: 3px;
			width: 190px;
			z-index: 3;
			left: 5px;

			label {
				display: block;
				padding: 3px 5px;
			}
		}

		#featured-first {
			text-align: center;
			position: static;

			button {
				font-size: 13px;
				padding: 5px 12px;
			}

			div {
				width: 25px;
				height: 13px;
				margin-left: 3px;

				&:after {
					height: 11px;
					width: 14px;
				}

				&.on:after {
					left: 10px;
				}
			}
		}

		#filters-container {
			display: none;
		}

		#widgets-container {
			grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));

			.widget {
				min-width: 150px;

				.infocard {
					img {
						width: 90px;
						height: 90px;
					}

					dl {
						line-height: 16px;
					}
				}
			}
		}
	}
}
