/* *************************************************************** */
/*        Catalog                                                              */
/* *************************************************************** */

.catalog section.page,
.catalog aside {
	background: #fff;
	box-sizing: border-box;
}

.catalog .container {
	margin: 0 auto;
	margin-top: 25px;
	width: 970px;
	position: relative;
}

.catalog section.page,
.catalog aside {
	border: rgba(0, 0, 0, 0.11) 1px solid;
	box-shadow: 1px 3px 10px #888;
}

.catalog section.page {
	width: 720px;
	margin: 0 0 100px 0;
	padding: 0 0 10px 0;
	position: relative;
	top: 0;
	left: 230px;
	z-index: 100;
	min-height: 650px;
}

.catalog aside {
	width: 230px;
	margin: 37px 0 0 0;
	padding: 5px 20px 12px 12px;
	position: absolute;
	top: 0;
	left: 5px;
	z-index: 80;
}

.catalog aside .features dt {
	font-family: 'Lato', arial, serif;
	font-weight: bold;
	font-size: 13px;
	user-select: none;
}
.catalog aside .features dt input[type='checkbox'] {
	width: 20px;
	margin: 0 0 0 0;
}

.catalog aside p,
.catalog aside .features dd {
	font-size: 9px;
	color: #3f3f3f;
}

.catalog aside ul.supported-data {
	padding: 0;
	margin-top: 0;
}

.catalog aside ul.supported-data li {
	list-style-type: none;
	padding: 0;
	font-family: 'Lato', arial, serif;
	font-size: 13px;
	font-weight: bold;
	margin: 3px 0 0 0;
	color: #000;
	user-select: none;
}

.catalog aside h1,
.catalog aside h2,
.catalog aside h3 {
	font-size: 17px;
	font-family: 'Lato', arial, serif;
	color: #000;
	margin: 0;
	padding: 10px 0 0 0;
}

.catalog aside h2 {
	margin: 0;
	padding: 10px 0 10px 0;
	font-size: 15px;
}

.catalog section.page .top {
	background: #eeeeee;
	color: #a6a6a6;
	padding: 0;
	height: 37px;
}

.catalog section.page .top h1 {
	margin: 7px 0 0 15px;
	font-size: 18px;
	font-family: 'Lato', arial, serif;
	font-weight: 550;
	text-shadow: 0 1px #fbfbfb;
	float: left;
}

.catalog section.widget {
	width: 356px;
	height: 110px;
	overflow: hidden;
	float: left;
	display: inline-block;
	margin: 0 0 10px 0;
	overflow: visible;

	&:after {
		position: relative;
		content: ' ';
		height: 12px;
		width: 356px;
		display: block;
		margin-top: 116px;
		background: white;
		box-shadow: 0px -10px 5px 3px white;
	}

	border-radius: 0 5px 5px 0;
	.widgetMin {
		opacity: 1;
		transition: opacity 0.3s ease-in-out;
		&.hidden {
			opacity: 0.3;
			display: block;
		}
	}
}

.catalog div.widgets {
	overflow: hidden;
	padding-top: 10px;
}
.catalog section.widget h1 a {
	color: #000000;
}

.catalog section.widget img {
	width: 92px;
	height: 92px;
	margin: 10px;
	float: left;
}

.catalog section.widget .header {
	float: left;
	max-width: 240px;
}
.catalog section.widget .header h1 {
	display: block;
}

.catalog section.widget .header h1 {
	font-size: 10px;
	margin: 0;
}

.catalog section.widget .header h1 {
	font-size: 18px;
	font-family: 'Lato-Black', arial, serif;
	margin-top: 9px;
}

dl.inline_def {
	width: 235px;
	max-height: 80px;
	overflow-y: hidden;
	margin: 0;
	line-height: 20px;
}

.catalog .infocard {
	position: absolute;
	z-index: 10;
	width: 356px;
	opacity: 0;

	margin-top: 5px;
	padding-bottom: 10px;

	background-color: #ffffff;

	box-shadow: 1px 2px 4px #888;

	border-radius: 5px;

	display: block;
	overflow: visible;

	color: #000000;
	&:hover {
		animation: animateShow 0.3s;
		opacity: 1;
		z-index: 20;

		dl {
			max-height: inherit;
		}
	}
	h1 {
		font-size: 18px;
		font-family: 'Lato-Black', arial, serif;
		margin-top: 5px;
		margin-bottom: 5px;
		color: #ffffff;
		text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
		&:hover {
			text-decoration: underline;
		}
	}
	.header {
		margin-top: -4px;
	}
}

.header.widget-banner {
	position: relative;
	z-index: -10;
	width: 100%;
	padding-left: 116px;
	background: linear-gradient(#7ba7f2, #4474c3);
	border-radius: 5px 5px 0px 0px;
}

.img-holder {
	position: absolute;
}

.blurb-holder {
	margin-left: 112px;
}

.catalog .infocard dl {
	overflow-y: auto;
	overflow-x: visible;
	display: block;
	float: left;
	margin-top: 5px;
	margin-bottom: 5px;
}

@keyframes animateShow {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
