.widget {
	.page {
		margin: 0 auto 20px;
		background: #ffffff;
		max-width: 850px;
		border-radius: 3px;
		box-shadow: 1px 3px 10px #888;
	}

	.top {
		background: #eee;
		color: #333;
		padding: 10px 20px;

		img {
			height: 92px;
			position: absolute;
		}

		h1 {
			margin: 0 0 0 110px;
			font-size: 2em;
		}

		p {
			margin: 0 0 0 110px;
		}
	}

	.widget-about {
		display: none; // shown on mobile
	}

	.arrow {
		padding-top: 19px;
		margin-bottom: -4px;
		width: 17px;
		height: 0px;
		margin-right: 5px;
		margin-left: -2px;
		display: inline-block;
		background: url(../../../img/arrow.png) no-repeat bottom;

		&.arrow_right {
			background: url(../../../img/arrow_right.png) no-repeat bottom;
		}
	}

	.widget_detail {
		margin: 0 auto;
		padding: 25px;

		.pics {
			margin: 25px 0 45px;
			display: flex;

			.full-pic {
				max-width: 80%;

				img {
					width: 100%;
				}
			}

			.pics-picker {
				margin: 20px 0 0 10px;
				padding: 10px;
				display: flex;
				flex-direction: column;
				justify-content: space-evenly;
				background: #ffffff;

				li {
					list-style: none;
					margin: auto 0;
					cursor: pointer;

					&:last-of-type {
						margin-right: 0;
					}

					img {
						box-shadow: 1px 2px 5px #888;
						width: 100%;

						&.selected {
							box-shadow: 1px 2px 5px #888, 0 0 2px 1px #aaa, 0 0 7px 4px #444;
						}
					}
				}
			}
		}

		.thumbnail_explanation {
			text-align: right;
			padding: 3px 10px 20px;

			p {
				display: inline;
				color: #b5b5b5;
				font-size: 0.75em;
			}
		}

		#demo-container {
			position: relative;
			margin: 25px auto 45px;

			#demo-cover {
				height: 100%;
				width: 100%;
				display: flex;
				position: absolute;
				align-items: center;
				justify-content: center;
				text-align: center;
				cursor: pointer;
				background-repeat: no-repeat;
				background-size: contain;

				&:hover {
					#demo-cover-background {
						opacity: 0.7;
					}

					a {
						opacity: 1;
						text-decoration: underline;
					}
				}

				&.hidden {
					opacity: 0;
					visibility: hidden;
					transition: 1500ms;

					a {
						opacity: 0;
						transform: scale(2)
					}
				}

				#demo-cover-background {
					background: radial-gradient(ellipse farthest-corner at center center, rgba(255, 255, 255, 0.85) 20%, rgba(190, 190, 190, 0.97) 100%) repeat scroll 0% 0%;
					position: absolute;
					height: 100%;
					width: 100%;
					transition: 1500ms;
				}

				a {
					transition: 500ms;
					font-family: 'Lato', arial, serif;
					font-weight: 700;
					text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
					box-shadow: 1px 2px 4px #888;
					font-size: 22px;
					user-select: none;
					border: 3px solid #525252;
					border-radius: 4px;
					padding: 10px 20px;
					cursor: pointer;
					color: #525252;
					background: #c4dd61;
					z-index: 2;
					opacity: 0.9;

					span.arrow {
						margin-bottom: -1px;
					}
				}
			}

			.center {
				margin: 0 auto;
				box-shadow: 0px 0px 34px 1px #999;

				iframe {
					width: 100%;
					height: 100%;
					margin: 0 auto;
					outline: none;
					display: block;
					border: none;
				}
			}
		}

		.bottom {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap-reverse;
			margin-top: 20px;

			dl {
				line-height: 30px;
				width: 400px;
				margin-top: 0;

				dt {
					font-size: 14px;
				}

				dd {
					a.feature,
					a.supported_data {
						cursor: default;
						font-size: 13px;
						padding: 2px 6px;
					}

					a.guide {
						font-size: 13px;
						border: 1px solid gray;
						color: gray;
						padding: 2px 6px;
						border-radius: 3px;

						&:hover {
							background-color: #eee;
							color: #111;
						}
					}

					.tooltip {
						position: absolute;
						z-index: 99;
						padding: 15px;
						background: #eee;
						width: 250px;
						border-radius: 15px;
						box-shadow: 1px 2px 5px #888;
						display: none;
						line-height: 15px;
						font-size: 12px;
					}
				}
			}

			#last-updated {
				font-style: italic;
				color: #b5b5b5;
				font-size: 0.9em;
			}

			.widget-action-buttons {
				width: 230px;
				text-align: right;

				h4 {
					color: #b5b5b5;
					font-size: 0.9em;
					margin: 0px 0 6px 0;
					padding: 10px 0 0 0;
					font-family: Lato;

					&:first-child {
						padding: 0;
					}
				}

				p {
					margin-top: 0;
					padding: 0;
				}

				.green {
					background: #b2cd43;
					background-image: linear-gradient(#d1e776, #a6c430);
					border-color: #95a74e;
					color: #4d5822;

					&:hover {
						background: #a2c129;
						background-image: linear-gradient(#a6c430, #d1e776);
						text-decoration: none;
					}
				}
			}
		}
	}
}

@media (max-width: 720px) {
	.widget .page {
		margin: 0 8px 12px;

		.top {
			padding: 10px;

			img {
				height: 50px;
			}

			h1 {
				font-size: 1.5em;
				margin-left: 60px;
			}

			p {
				display: none;
			}
		}

		.widget-about {
			display: block;
			margin-top: 5px;
		}

		#demo-container {
			display: none;
		}

		.pics {
			display: block;

			.full-pic {
				max-width: 100%;
			}

			.pics-picker {
				padding: 0;
				flex-direction: row;
				margin-left: 0;

				li {
					margin-right: 20px;
				}
			}
		}

		.widget_detail .bottom {
			dl {
				width: 100%;
				text-align: center;

				dt {
					float: none;
					line-height: normal;
					margin-top: 10px;
				}

				dd .tooltip {
					left: 10%;
					right: 10%;
					width: auto;
				}
			}

			.widget-action-buttons {
				width: 100%;
				text-align: center;
			}
		}
	}
}
